<!-- highlight.js -->
<script>hljs.highlightAll();</script>
<!-- mermaid -->
<script>mermaid.initialize({ startOnLoad: true });</script>

<!-- header -->
<script type="text/javascript">
    const header = document.getElementById("header");
    const speed = 0.4;

    let scrollY = window.scrollY;
    let position = 0;
    window.addEventListener("scroll", (e) => {
        let delta = (window.scrollY - scrollY) * speed;
        console.log(`scroll: ${delta}`);
        let height = header.scrollHeight;
        scrollY = window.scrollY;
        position = Math.max(Math.min(position + delta, 0), -height, -scrollY);
        header.style.top = `${position}px`;
    });
    const stylesheet = new CSSStyleSheet();
    document.adoptedStyleSheets.push(stylesheet);
    const onResizeHeader = (height) => {
        console.log(`header resize: ${height}`);
        stylesheet.replaceSync(`* { scroll-margin-top: ${height}px; }`);
    };

    const resizeObserver = new ResizeObserver(entries => {
        const [entry] = entries;
        const height = entry.borderBoxSize[0].inlineSize;
        onResizeHeader(height);
    });
    resizeObserver.observe(header);
    onResizeHeader(header.scrollHeight);

</script>