<!-- highlight.js -->
<script src="{{ 'assets/js/highlight.min.js' | relative_url }}"></script>
<script>hljs.highlightAll();</script>
<!-- mermaid -->
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<script>mermaid.initialize({ startOnLoad: true });</script>

<!-- table of contents -->
<script src="{{ 'assets/js/table_of_contents.js' | relative_url }}"></script>

<!-- header -->
<script type="text/javascript">
    const header = document.getElementById("header");
    if (!header) return;
    const speed = 0.4;

    let scrollY = window.scrollY;
    let position = 0;
    window.addEventListener("scroll", () => {
        let delta = (window.scrollY - scrollY) * speed;
        let height = header.scrollHeight;
        scrollY = window.scrollY;
        position = Math.max(Math.min(position + delta, 0), -height, -scrollY);
        header.style.top = `${position}px`;
    });

    window.addEventListener("load", () => {
        let height = header.scrollHeight;
        let stylesheet = new CSSStyleSheet();
        stylesheet.replaceSync(`* { scroll-margin-top: ${height}px; }`);
        document.adoptedStyleSheets.push(stylesheet);
    });
</script>
