<!-- highlight.js -->
<script defer>hljs.highlightAll();</script>
<!-- mermaid -->
<script defer>
    mermaid.initialize({
        startOnLoad: true, theme: 'neutral',
        themeVariables: {
            edgeLabelBackground: '#b8c9ff',
            lineColor: '#b8c9ff',
            signalColor: '#b8c9ff',
            signalTextColor: '#b8c9ff',
        }
    });
    mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
</script>

<!-- header -->
<script defer type="text/javascript">
    const header = document.getElementById("header");

    if (!!header) {
        init(header);
    }

    function init(header) {
        const speed = 0.4;

        let oldHash = document.location.hash;

        let scrollY = window.scrollY;
        let position = 0;
        window.addEventListener("scroll", (e) => {
            let delta = (window.scrollY - scrollY) * speed;
            let height = header.scrollHeight;
            scrollY = window.scrollY;
            position = Math.max(Math.min(position + delta, 0), -height, -scrollY);
            header.style.top = `${position}px`;

            // if navigated, reset header position
            const hash = document.location.hash;
            if (hash === oldHash) return;
            position = 0;
            header.style.top = `${position}px`;

            oldHash = hash;
        });


        // scroll margin
        const stylesheet = new CSSStyleSheet();
        document.adoptedStyleSheets.push(stylesheet);
        const onResizeHeader = (height) => {
            stylesheet.replaceSync(`* { scroll-margin-top: ${height}px; }`);
        };

        const resizeObserver = new ResizeObserver(entries => {
            const [entry] = entries;
            const height = entry.borderBoxSize[0].blockSize;
            onResizeHeader(height);
        });
        resizeObserver.observe(header);
        onResizeHeader(header.scrollHeight);
    }
</script>