.post-content {
    margin: auto;
    grid-area: "main";

    h1 {
        border-bottom: solid 2px $main-border-color;
    }

    h2 {
        border-bottom: solid 2px $main-border-color;
    }

    h3 {
        border-bottom: solid 1px $main-border-color;
    }

    h4 {
        border-bottom: solid 1px $main-border-color;
    }
}

.content-root {
    display: grid;
}

@media (min-aspect-ratio: 1/1) {
    .content-root {
        grid-template: "nav-l main ." 1fr / 1fr 61.8% 1fr;
    }
}

@media (max-aspect-ratio: 1/1) {
    .content-root {
        grid-template: "nav-l main ." 1fr / 1fr 100% 1fr;
    }

    .post-content {
        padding: 0 1em;
    }
}


div.mermaid {
    background-color: $main-bg-dark-color;
}