#post-content {
    overflow-x: hidden;
    grid-area: "main";

    $heading-bg-color: $main-border-color;

    h1 {
        margin: 0.5em 0;
        padding: none;
        background-color: $heading-bg-color;
    }

    h2 {
        margin: 0.4em 0;
        padding: none;
        background-color: $heading-bg-color;

    }

    h3 {
        margin: 0.3em 0;
        padding: none;
        border-bottom: $heading-bg-color;
    }

    h4 {
        margin: 0.2em 0;
        padding: none;
        border-bottom: $heading-bg-color;
    }
}

#content-root {
    display: grid;
    overflow-x: hidden;
}

@media (min-aspect-ratio: 1/1) {
    #content-root {
        grid-template: "nav-l main ." 1fr / 1fr 61.8% 1fr;
    }
}

@media (max-aspect-ratio: 1/1) {
    #content-root {
        grid-template: "nav-l main ." 1fr / 1fr 100% 1fr;
    }

    #post-content {
        padding: 0 1em;
    }
}


div.mermaid {
    background-color: $main-bg-dark-color;
}

.katex-display {
    overflow: scroll;
}

.note {
    width: auto;
    margin: 1em;
    padding: 1em;

    &.note {
        background-color: #54823a
    }

    &.warn {
        background-color: #867c3c;
    }

    &.alert {
        background-color: #8f4a42;
    }
}