.post-content {
    margin: auto;

    h1 {
        border-bottom: solid 2px $main-border-color;
    }

    h2 {
        border-bottom: solid 2px $main-border-color;
    }

    h3 {
        border-bottom: solid 1px $main-border-color;
    }

    h4 {
        border-bottom: solid 1px $main-border-color;
    }
}

@media (min-aspect-ratio: 1/1) {
    .post-content {
        width: 61.8%;
    }
}

@media (max-aspect-ratio: 1/1) {
    .post-content {
        width: 100%;
        padding: 0 1em;
    }
}


div.mermaid {
    background-color: $main-bg-dark-color;
}