ul.auto-table-of-contents-toc {
    text-align: left;

    &,
    ul {
        padding: 0 0em;
    }

    li {
        list-style-type: none;

        &:has(.auto-table-of-contents-toc-menu-active)>* {
            display: relative;
        }

        &:not(.auto-table-of-contents-toc-menu-active)>ul {
            display: none;
        }

        &:has(> ul):not(.auto-table-of-contents-toc-menu-active)::before {
            content: "▶";
        }

        &:has(> ul).auto-table-of-contents-toc-menu-active::before {
            content: "▼";
        }

        &:not(:has(> ul))::before {
            content: "\00A0";
        }
    }
}