---
layout: default
---
{% capture header %}
<h2>{{ page.title }}</h2>
<div style="display: flex; column-gap: 1em;">
    <div>
        投稿 : {{ page.date | date: "%Y/%m/%d" }}
    </div>
    <div>
        最終更新 : {{ page.last_modified | default: page.date | date: "%Y/%m/%d" }}
    </div>
    <div style="margin-left: auto;">
        {% for tag in page.tags %}
        #
        {% include tag_link.html tag=tag %}
        {% endfor %}
    </div>
</div>
{% endcapture %}
{% include header.html content=header %}
<div class="post-content">
    {{- content -}}
</div>