---
layout: default
---
{% capture header %}
<h2>{{ page.title }}</h2>
<div id="auto-toc-anchor-portrait" style="margin-left: auto;"></div>
{% endcapture %}
{% include header.html content=header %}
<div style="display: flex; column-gap: 1em; margin: auto; justify-content: center;">
    <div>
        投稿 : {{ page.date | date: "%Y/%m/%d" }}
    </div>
    <div>
        最終更新 : {{ page.last_modified | default: page.date | date: "%Y/%m/%d" }}
    </div>
</div>
<div style="display: flex; column-gap: 1em; margin: auto; justify-content: center;">
    {% for tag in page.tags %}
    <p>
        #
        {% include tag_link.html tag=tag %}
        {% endfor %}
    </p>
</div>

<div class="content-root">
    <div id="auto-toc-anchor-landscape" style="grid-area: nav-l"> </div>
    <div class="post-content">
        <hr>
        {{- content -}}
    </div>
</div>

<script>
    const anchor_portrait = document.getElementById("auto-toc-anchor-portrait");
    const anchor_landscape = document.getElementById("auto-toc-anchor-landscape");
    onresize();
    window.addEventListener('resize', onresize);

    function onresize() {
        const viewport = window.visualViewport;
        anchor_landscape.innerHTML = anchor_portrait.innerHTML = '';

        if (viewport.height > viewport.width) {//portrait
            anchor_portrait.append(autoc.createTableOfContents(document.body));
        } else {//landscape
            anchor_landscape.append(autoc.createTableOfContents(document.body));
        }
    }
</script>